.gitignore
.editorconfig

node_modules/
npm-debug.log

src/
tests/
examples/
coverage/
.circleci
.vscode

.babelrc.js
.travis.yml
*.config.js
tslint.json
tsconfig.json
.prettierrc
commitlint.config.js
